body{
    background-color: rgb(25, 25, 25);
    font-size: 20px;
    color: rgb(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
}
a{
    text-decoration-line: none;
}
.menu{
    background-color: rgb(40, 40, 40);
    height: 225px;
    width: 1908px;
}
.logo{
    text-align: center;
}
.menu_bar{
    margin: auto;
    margin-top: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.menu_bar_word{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    padding: 15px;
    color: rgb(100, 100, 100);
}